.row-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.row-list .card-header>h1,
.row-list .card-header>p,
.row-list .card-header>h2,
.row-list .card-header>h3,
.row-list .card-header>h4,
.row-list .card-header>p {
    flex-shrink: 0;
    position: relative;
    width: 449px;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 2;
    color: #bef4ff;
}

.row-list .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;
    padding: 10px 10px 10px 10px;
}

.row-list .card-header .title {
    position: relative;
    width: 450px;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 38.727px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 1;
}

.row-list .card-header .scroll {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 56px;
    z-index: 2;
}

.row-list .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    padding: 0 4px 0 4px;
    z-index: 5;
    overflow: hidden;
}

.row-list .container .list {
    display: flex;
    gap: 24px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 0 20px;
}

.row-list .container .list::-webkit-scrollbar {
    display: none;
    /* Chrome */
}

.row-list .container .list>* {
    flex: 0 0 calc((100% - (var(--count) - 1) * 24px) / var(--count));
}

.row-list .container>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: max-content;
    z-index: 6;
    color: #93A1B8;
    text-decoration: none;
    flex: 0 0 auto;
}

.row-list .container>a>svg {
    background-color: #0E1D2A;
    background-size: 200% 200%;
    border-radius: 100%;
    overflow: hidden;
}