.podcast-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 18px;
    position: relative;
    width: 30%;
    margin: 0 auto;
    padding: 21px 20px 21px 20px;
    background: rgba(23, 42, 72, 0.5);
    border-radius: 10px;
    border: none;
}

.podcast-card .card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}

.podcast-card .card-header .title {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 19px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}

.podcast-card .card-header .episode-container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 2px;
    position: relative;
    min-width: 0;
    z-index: 2;
}

.podcast-card .card-header .episode-container .episode {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 54px;
    height: 16px;
    color: #acb9d7;
    font-family: Open Sans, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}

.podcast-card .card-header .episode-container .episode_name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 246px;
    height: 21px;
    color: #ffffff;
    font-family: Open Sans, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.342px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 4;
    overflow: hidden;
}

.podcast-card img {
    flex-shrink: 0;
    position: relative;
    width: 216px;
    height: 216px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-04-15/FnNR3hkPyK.png) no-repeat center;
    background-size: cover;
    z-index: 5;
    border-radius: 7px;
}

.podcast-card .footer {
    flex-shrink: 0;
    position: relative;
    width: 297px;
    height: 85px;
    font-family: Open Sans, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.342px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 6;
    overflow: hidden;
}

.podcast-card .footer .date-long {
    position: relative;
    color: #ffffff;
    font-family: Open Sans, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.342px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.podcast-card .footer .description,
.podcast-card .footer .description>* {
    display: contents;
    position: relative;
    color: #acb9d7;
    font-family: Open Sans, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.342px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: auto;
    height: 85px;
}