NODE_ENV=development
PORT=4000
DATABASE_URL=postgres://user:pass@localhost:5432/soundy

JWT_ACCESS_SECRET=change_me
JWT_ACCESS_EXPIRES=15m

REFRESH_TOKEN_TTL_DAYS=7
REFRESH_COOKIE_NAME=refresh_token
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax

FRONTEND_URL=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:4000/auth/discord/callback
